<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uni1500 LLM</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            LLM (Chat)
        </div>
        <div class="chat-body" id="chat-body">
            <div class="message bot-message">
                <p>Olá! Como posso ajudá-lo?</p>
            </div>
        </div>
        <input type="text" class="chat-input" id="user-input" placeholder="Digite sua mensagem...">
    </div>

    <script src="../static/js/index.js"></script>
    
</body>
</html>